{% load mathfilters %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'manager/style/manage_orders_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'manager/style/scrolltabs.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<script src="https://kit.fontawesome.com/043bb5442c.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<div class="bg_all">
    <!--페이지 제목-->
    <section id="title" class="web-title">
        <button type="button" class="home_btn" onClick="history.back();"><img src="/static/manager/image/back.png"></button>
        <p>삼다수 카페 주문 확인</p> 
    </section>
    <!--카페 메뉴 탭-->
    <section id="tabs" class="project-tab">
        <div class="menu">
            <div class="row">
                <div class="col-md-12">
                    <nav>
                        <div class="nav flex-column nav-tabs nav-fill" id="nav-tab" role="tablist">
                            {% for class_receipt in class_receipts %}
                            <a class="nav-item nav-link" id="nav-{{ class_receipt.receipt_today_id }}-tab" data-toggle="tab" href="#nav-{{ class_receipt.receipt_today_id }}" role="tab" aria-controls="nav-{{ class_receipt.receipt_today_id }}" aria-selected="true">주문번호 {{ class_receipt.receipt_today_id }}</a>
                            {% endfor %}
                        </nav>
                    <div class="tab-content" id="nav-tabContent">
                        {% for class_receipt in class_receipts %}
                            <div class="tab-pane fade show" id="nav-{{ class_receipt.receipt_today_id }}" role="tabpanel" aria-labelledby="nav-{{ class_receipt.receipt_today_id }}-tab">
                                <h3 class="ordertime">{{ class_receipt.receipt_date }}</h3>
                                {% for class_item in class_items %}

                                    {% if class_item.receipt_id.receipt_id is class_receipt.receipt_id %}
                                    <ul class="order">
                                        <img src="/static/manager/image/item.png">
                                        <!--메뉴명-->
                                        <li class="fl tc w500 list">{{ class_item.prod_id }}</li>
                                        
                                        <!--사이즈-->
                                        {% if class_item.item_size is 0 %} 
                                        <li class="fl tc w100 list">Short</li>
                                        {% elif class_item.item_size is 1 %}
                                        <li class="fl tc w100 list">Tall</li>
                                        {% else %}
                                        <li class="fl tc w100 list">Grande</li>
                                        {% endif %}

                                        <!--수량-->
                                        <li class="fl tc w120 list">{{ class_item.item_quantity }}</li>

                                        <li class="fl tc w500 list"></li>

                                        <!--메뉴 옵션-->
                                        <li class="fl tc w70 list">
                                            <li class="tc w70 list">메뉴 옵션</li>
                                            <!--온도  //0 없음, 1 핫, 2 얼음량 보통 , 3 얼음량 많이 , 4 얼음량 없음 -->
                                            {% if class_item.item_hot_cold is 0 %}
                                            <span class="w70s badge bg-warning">FOOD</span>
                                            {% elif class_item.item_hot_cold is 1 %}
                                            <span class="w70s badge bg-danger">HOT</span>
                                            {% else %}
                                            <span class="w70s badge bg-primary">ICED</span>
                                            {% endif %}
                                            
                                            <!--카페인 0 디카페인, 1 블론드, 2 1/2디카페인 -->
                                            {% if  class_item.prod_id.prod_category == "COFFEE" or class_item.prod_id.prod_category == "LATTE" %}
                                                {% if  class_item.item_caf_amount is 0 %}
                                                <span class="w70s badge bg-success">☕디카페인</span>
                                                {% elif   class_item.item_caf_amount is 1 %}
                                                <span class="w70s badge bg-success">☕블론드</span>
                                                {% else %}
                                                <span class="w70s badge bg-success">☕1/2 디카페인</span>
                                                {% endif %}
                                            {% endif %}
                                            
                                            <!--시럽 //0없음 1~9바닐라 10~90헤이즐 100~900카라멜 1000~9000모카 10000~90000프라푸치노 -->
                                            {% if  class_item.item_syrup is 0 %}
                                            {% elif  class_item.item_syrup >= 1 and class_item.item_syrup <= 9 %}
                                            <span class="w70s badge bg-secondary">🥤바닐라 시럽 {{ class_item.item_syrup }} 추가</span>
                                            {% elif  class_item.item_syrup >= 10 and class_item.item_syrup <= 90 %}
                                            <span class="w70s badge bg-secondary">🥤헤이즐 시럽 {{ class_item.item_syrup|div:10 }} 추가</span>
                                            {% elif  class_item.item_syrup >= 100 and class_item.item_syrup <= 900 %}
                                            <span class="w70s badge bg-secondary">🥤카라멜 시럽 {{ class_item.item_syrup|div:100 }} 추가</span>
                                            {% elif  class_item.item_syrup >= 1000 and class_item.item_syrup <= 9000 %}
                                            <span class="w70s badge bg-secondary">🥤모카 시럽 {{ class_item.item_syrup|div:1000 }} 추가</span>
                                            {% else %}
                                            <span class="w70s badge bg-secondary">🥤프라푸치노 시럽 {{ class_item.item_syrup|div:10000 }} 추가</span>
                                            {% endif %}

                                            <!--샷-->
                                            {% if  class_item.item_shot is 0 %}
                                            {% else %}
                                            <span class="w70s badge bg-success">☕{{ class_item.item_shot }} 샷 추가</span>
                                            {% endif %}

                                            <!--우유 //0없음 1일반 2저지방 3무지방 4두유 5귀리(오트)-->
                                            {% if class_item.item_size is 0 %}
                                            {% elif class_item.item_size is 1 %}
                                            <span class="w70s badge bg-info">🥛일반 우유</span>
                                            {% elif class_item.item_size is 2 %}
                                            <span class="w70s badge bg-info">🥛저지방 우유</span>
                                            {% elif class_item.item_size is 3 %}
                                            <span class="w70s badge bg-info">🥛무지방 우유</span>
                                            {% elif class_item.item_size is 4 %}
                                            <span class="w70s badge bg-info">🥛두유 우유</span>
                                            {% else %}
                                            <span class="w70s badge bg-info">🥛귀리 우유</span>
                                            {% endif %}

                                            <!--휘핑 //0 없음, 1 일반 보통, 2 일반 많이, 11~12에스프레소-->
                                            {% if class_item.item_whip is 0 %}
                                            {% elif class_item.item_whip is 1 %}
                                            <span class="w70s badge bg-info">🍦휘핑 보통</span>
                                            {% elif class_item.item_whip is 2 %}
                                            <span class="w70s badge bg-info">🍦휘핑 많이</span>
                                            {% elif class_item.item_whip is 11 %}
                                            <span class="w70s badge bg-info">🍦에스프레소 휘핑 보통</span>
                                            {% else %}
                                            <span class="w70s badge bg-info">🍦에스프레소 휘핑 많이</span>
                                            {% endif %}

                                            <!--자바칩  //0 없음, 1 자바칩, 2  통 자바칩 토핑-->
                                            {% if class_item.item_java_chip is 0 %}
                                            {% elif class_item.item_java_chip is 1 %}
                                            <span class="w70s badge bg-secondary">🧆자바칩 기본</span>
                                            {% else %}
                                            <span class="w70s badge bg-secondary">🧆통 자바칩</span>
                                            {% endif %}

                                            <!--드리즐 //0 없음, 1 초코 보통, 2 초코 많이, 11~12 카라멜-->
                                            {% if class_item.item_driz is 0 %}
                                            {% elif class_item.item_driz is 1 %}
                                            <span class="w70s badge bg-secondary">🕳️초코 드리즐 기본</span>
                                            {% elif class_item.item_driz is 2 %}
                                            <span class="w70s badge bg-secondary">🕳️초코 드리즐 많이</span>
                                            {% elif class_item.item_driz is 11 %}
                                            <span class="w70s badge bg-secondary">🕳️카라멜 드리즐 기본</span>
                                            {% else %}
                                            <span class="w70s badge bg-secondary">🕳️카라멜 드리즐 많이</span>
                                            {% endif %}
                                        </li>
                                        <li class="tc w700">&nbsp;</li>
                                        <hr></hr>
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>                  
                </div>
            </div>
        </div>
    </section>
    <section>
        <button type="button" class="delete_order_btn">☕주문 처리 완료</button>
        <script>
            $(function() {
                $("button").on("click", function() {
                    data = $(".active").detach(); // class가 "active"인 요소를 모두 삭제한다.
                });
            });
        </script>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</div>