@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


html, body {
    width:100%;
    height:100%;
    margin: 0;
}
.bg_all
{
    text-align: center;
    background-color: #252525;
    width: 100%;
    height: 100%;
    margin: 0;
    
}
.web-title{
    float: none;
    display: flex;
}
.home_btn{
    margin-top: 50px;
    margin-left: 10px;
    background: none;
    border: none;
    outline: none;
}
.home_btn img{
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
}

.web-title p {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: xx-large;
    margin-top: 50px;
    margin-left: 670px;
    color: #eee;
    
}
/*탭 커스텀*/
.project-tab {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #eee;
    height: 75.7%;
    
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #15654A;
    background-color: transparent #f3f3f3;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 40px;
    font-weight: bold;
}
.nav-tabs{
    float: left;
    flex-wrap: nowrap;
    height: 720px;
    overflow: auto;
    -ms-overflow-style:none;
}

::-webkit-scrollbar {
    display: none;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    color: #707070;
    background-color: #343434;
    font-size: 30px;
    font-weight: 600;
    
}
.project-tab .nav-link:hover {
    border: none;
}
.row{
    width: auto;
}
/*탭 안에 있는 테이블 커스텀*/
.tab-content{
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    width: 75%;  
    height: 690px;
    padding-top: 3%;
    overflow: scroll;  
}
.ordertime{
    font-family: 'Noto Sans KR', sans-serif;
    width: 800px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;
}
.order{
    font-family: 'Noto Sans KR', sans-serif;
    width: 1000px;
    margin-left: 5%;
}

/*주문목록 앞에 체크네모*/
.order img{
    max-width: 40px;
    max-height: 40px;
    object-fit: contain;
    float: left;
    margin-right: 20px;
}
/* 주문 목록 공통옵션 */
ul li {
    list-style-type: none;
    padding: 0;
}
.fl {float:left; }
.tc {text-align:left; }


/* 주문 목록 목록 */
.w500 {
    font-weight: 100;
    font-size: xx-large;
    color: #15654A;
    width: auto; 
    margin-bottom: 10px;
}
.w120 {
    font-size: x-large;
    color: #15654A;
    width:120px;
}
.w100 {
    font-size: large;
    color: #252525;
    width:100px;
}
.w70{
    font-size: medium;
    color: #cc5017;
    width:120px;
    vertical-align: top;
}
.w700{
    font-size: medium;
    color: #cc5017;
    width:500px;
    text-align: start;
    margin-left: 140px;
    margin-top: 10px;
}
.w70s{
    width:auto;
    height: auto;
    text-align: left;
    margin: 0px;
    font-size: medium;
    color: #252525;
    float: left;
    margin-top: 5px;
    margin-left: 70px;
}
.badge{
    margin-left: 5px;
}
hr{
    width: "100%"; 
    color: #707070; 
    size: 1;
}
.list :not(span){
	height: 40px;
	line-height: 40px;
}

/*주문 처리 완료 버튼*/
.delete_order_btn {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    color: white;
    background-color: #15654A;
    width: 250px;
    height: 60px;
    border: 1px;
    margin-top: 2%;
    outline: none;
}