{% extends 'client/client_base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'client/style/client_style_2.css' %}">
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<div class="container-fluid">
    <div class="row-vh">
        <div class="h-50" id="top">
            <h1><br></h1>
            <div class="item">
                <section>
                    <div id="user">
                        <h5 id="user_text">

                        {% for post in post_list %}
                            {% if post.userCar %}
                                {{post.userName}}님❗<br>
                            {% endif %}
                        {% endfor %}
                        AI 음성 인식을 통해<br>간편하게 주문하세요✨</h5>

                    </div>
                </section>
            </div>
            <div class="item2">
                <section>
   
                    <div id="time"><h1>5</h1></div>
                    <div id="time_bt"><h3>초 뒤에 주문 AI가 나타납니다!</h3></div>
                </section>
            </div>   
        </div>
        
            
        <div class="h-50" id="box">
            <div id="order">
                <h3 id="menu"><br>🍓메뉴 주문 방법🍓<br></h3>
                <div class="row">
                    <div class="col-md-4" id="box1">
                        <div class="bg_image1">
                            <div class="image_num"><h4>1</h4></div>
                            <div class="image1"></div>
                        </div>
                        <h5 id="menu">음성인식을 통해 신속한 메뉴 주문</h5>
                    </div>
                    <div class="col-md-4" id="box2">
                        <div class="bg_image2">
                            <div class="image_num"><h4>2</h4></div>
                            <div class="image2"></div>
                        </div>
                        <h5 id="menu">멤버십을 통한 고객 맞춤 추천</h5>
                    </div>
                    <div class="col-md-4" id="box2">
                        <div class="bg_image3">
                            <div class="image_num"><h4>3</h4></div>
                            <div class="image3"></div>
                        </div>
                        <h5 id="menu">인기 메뉴 주문을 번호로 1초만에</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="https://www.flaticon.com/free-icons/message" title="message icons">Message icons created by Freepik - Flaticon</a>

<script language="javascript">
    var sec = 5;
    var time = document.getElementById("time");
    var intervalId = setInterval(printtime, 1000);
    var link1 = "http://localhost:8000/client/3/";
    var link2 = "http://localhost:8000/client/4/";
    var user = document.getElementById("user_text").innerHTML;
    console.log(user);
    if (user.includes("님"))
    {
        console.log("멤버십 있음");
    }
    else
    {
        console.log("멤버십 없음");
    }

    setTimeout(function(){
        clearInterval(intervalId);
    }, 6001);

   function printtime()
   {
       sec = sec-1;
       if ( sec < 2 )
       {
           //console.log("다음 페이지 이동");
            if (user.includes("님"))
            {
                window.location.href = link1;
            }
            else
            {
                window.location.href = link2;
            }
       }
       //console.log(sec);
       time.innerHTML = '<h1>'+ (sec) + '</h1>';
   }


   function getParameterByName(name) 
    { 
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]"); 
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), 
    results = regex.exec(location.search); 
    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " ")); 
    }

    var carNum = getParameterByName('car');
    console.log(carNum);



</script>
{% endblock %}
