{% extends 'client/client_base.html' %}

{% block content %}

{% load static %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/style/member_order_style.css' %}">

<div id="content_all">

    <!-- ai -->
    <div class="h-25" id="bot">
        <div class="row" id="ai">
            <div class="ai_img"></div>
            <div class="ai_txt">
                <h2 id="ai_say">🌿어서오세요! 스타벅스입니다🌿</h2>
            </div>

        </div>

    </div>

    <div class="h-50" id="top">

        <div class="row">

            <div class="col-md-6" id="box1">
                <h4 id="menu_txt"> 최근 주문 메뉴</h4>
           

            
            <div class="row">
                <!-- 상품 1, 2-->

                <!-- 상품1 -->
                <div class="col-md-6" id="item1">
                    <div class="bg_image1">
                        <div class="image1"></div>
                        <div class="image_num_0"><h4>1</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_1_id">[ICE] 아메리카노</h5>
                        <h5 class="new" id="new_1_price">4.3</h5>
                    </div>
                </div>

                <!-- 상품2 -->
                <div class="col-md-6" id="item2">
                    <div class="bg_image2">
                        <div class="image2"></div>
                        <div class="image_num_0"><h4>2</h4></div>
                    </div>
                    <div id="txt_box">
                    <h5 class="new" id="new_2_id">[HOT] 카푸치노</h5>
                    <h5 class="new" id="new_2_price">5.4</h5>
                    </div>
                </div>

            </div>
        </div>
            
            <div class="col-md-6" id="box1">
                <h4 id="menu_txt"> 최다 주문 메뉴</h4>

            
            <div class="row">
                <!-- 상품 3, 4-->

                <!-- 상품3 -->
                <div class="col-md-6" id="item3">
                    <div class="bg_image3">
                        <div class="image3"></div>
                        <div class="image_num"><h4>3</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_3_id">[ICE] 카페라떼</h5>
                        <h5 class="new" id="new_3_price">4.4</h5>
                    </div>
                </div>

                <!-- 상품4 -->
                <div class="col-md-6" id="item4">
                    <div class="bg_image4">
                        <div class="image4"></div>
                        <div class="image_num"><h4>4</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_4_id">[HOT] 코코아</h5>
                        <h5 class="new" id="new_4_price">3.5</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- 상품 5, 6-->

                <!-- 상품5 -->
                <div class="col-md-6" id="item5">
                    <div class="bg_image5">
                        <div class="image5"></div>
                        <div class="image_num_2"><h4>5</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_5_id">[BAKERY] 곡물 빵</h5>
                        <h5 class="new" id="new_5_price">4.1</h5>
                    </div>
                </div>

                <!-- 상품6 -->
                <div class="col-md-6" id="item6">
                    <div class="bg_image6">
                        <div class="image6"></div>
                        <div class="image_num_2"><h4>6</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_6_id">[ICE] 복숭아 티</h5>
                        <h5 class="new" id="new_6_price">4.8</h5>
                    </div>
                </div>

            </div>
            
        </div>

        </div>

    </div>


    <!--주문 목록-->
    <div class="h-25" id="mid">

        <!-- 제목-->
        <div class="row" id="title">
            <div class="col-md-3"> 
                <h3>주문하신 메뉴</h3>
            </div>
            <div class="col-md-4"> 
                <h3>옵션</h3>
            </div>
            <div class="col-md-2"> 
                <h3>가격</h3>
            </div>
            <div class="col-md-1"> 
                <h3>수량</h3>
            </div>
            <div class="col-md-2"> 
                <h3>총합</h3>
            </div>
        </div>

        <!-- 실제 항목-->
        <!-- 주문목록-->
        <div class="row">
            <div class="col-md-3" id="border"> 
                <h4 id="list_txt">아메리카노</h4>
            </div>
            <div class="col-md-4" id="border"> 
                <h5 id="op_txt">✔️ice ✔️시럽 바닐라 2 ✔️샷 3<br>✔️우유 저지방 ✔️휘핑 O ✔️드리즐 초코</h5>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">4,300 원</h4>
            </div>
            <div class="col-md-1" id="border"> 
                <h4 id="list_txt">1</h4>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">4,300 원</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" id="border"> 
                <h4 id="list_txt">카푸치노</h4>
            </div>
            <div class="col-md-4" id="border"> 
                <h5 id="op_txt">✔️ice ✔️시럽 X ✔️샷 5<br>✔️우유 X ✔️휘핑 O ✔️드리즐 X</h5>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">5,400 원</h4>
            </div>
            <div class="col-md-1" id="border"> 
                <h4 id="list_txt">3</h4>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">16,200 원</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" id="border"> 
                <h4 id="list_txt">카페라떼</h4>
            </div>
            <div class="col-md-4" id="border"> 
                <h5 id="op_txt">✔️hot ✔️시럽 카라멜 1 ✔️샷 2<br>✔️우유 기본 ✔️휘핑 X ✔️드리즐 초코</h5>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">4,400 원</h4>
            </div>
            <div class="col-md-1" id="border"> 
                <h4 id="list_txt">2</h4>
            </div>
            <div class="col-md-2" id="border"> 
                <h4 id="list_txt">8,800 원</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" id="border3"> 
                <h3 id="total_txt">주문 금액</h3>
            </div>
            <div class="col-md-6" id="border2">
                <h3 id="total_real">8,800 원</h3>
            </div>
        </div>
    </div>



    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>


    /* 메인 */
    var txt = document.getElementById("ai_say");
    //$("#ai_say").text("🌿어서오세요! 스타벅스입니다🌿");
    txt.innerHTML = "🌿어서오세요! 스타벅스입니다🌿";

    window.onload=function()
    {

        //setVoiceList();
        //speech("안녕");
        
        /*var u = new SpeechSynthesisUtterance();
        u.text = "만나서 반갑습니다. 스타벅스입니다";
        speechSynthesis.speak(u);*/

        setTimeout(() => 
        { 
            //console.log(window.speechSynthesis.getVoices());
            order();
        }, 1000);
    }


    /* 실제 비동기 처리 코드 */
    async function order()
    {
        var audio_once = false; //한번이라도 주문했는지

        try
        {
            var audio1 = await tts("어서오세요. 스타벅스입니다!","주문을 원하시는 메뉴나 번호를 말씀해주세요💚");
            var audio2 = await tts("주문을 원하시는 메뉴나 번호를 말씀해주세요~","인식 중...");

            // 83초 대기
            await new Promise((resolve, reject) => setTimeout(resolve, 8300));
            var stt = await speech_to_text();
            
        }
        catch(error)
        {
            console.log(error);
        }
            
    }

    /* STT */
    var isRecognizing = false;

    try 
    { 
        var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
    } 
    catch(e)
    {
        console.error(e);
    }

    recognition.lang = 'ko-KR'; //선택하게 해줘야 할듯 .
    recognition.interimResults = false;
    recognition.maxAlternatives = 5;
    //recognition.continuous = true;

    function speech_to_text()
    {
        recognition.start();
        isRecognizing = true;

        recognition.onstart = function()
        {
            console.log("음성인식이 시작 되었습니다. 이제 마이크에 무슨 말이든 하세요.");
        }   

        recognition.onresult = function(event) 
        {
            var resText = event.results[0][0].transcript;
            var txt = document.getElementById("ai_say");
            console.log('You said: ', resText);
            txt.innerHTML = resText;
        };
    }







    /* TTS */
    var voices = [];


    function setVoiceList() {
        voices = window.speechSynthesis.getVoices();
    }
    if (window.speechSynthesis.onvoiceschanged !== undefined) 
    {
        window.speechSynthesis.onvoiceschanged = setVoiceList;
    }


    function tts(txt, print_txt) 
    {
        var end = false;

        if(!window.speechSynthesis) 
        {
            alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
            return;
        }

        var lang = 'ko-KR';
        var utterThis = new SpeechSynthesisUtterance(txt);

        utterThis.onend = function (event) 
        {
            //console.log('말 끝남');
            //console.log(print_txt," 출력할 차례 ");
            var txt = document.getElementById("ai_say");
            txt.innerHTML = print_txt;
        };

        utterThis.onerror = function(event) 
        {
            console.log('error', event);
        };

        var voiceFound = false;

        for(var i = 0; i < voices.length ; i++) 
        {
            if(voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) 
            {
                utterThis.voice = voices[i];
                voiceFound = true;
            }
        }
        if(!voiceFound) 
        {
            alert('voice not found');
            return;
        }

        utterThis.lang = lang;
        utterThis.pitch = 1;
        utterThis.rate = 1; //속도

        window.speechSynthesis.speak(utterThis);
    }

</script>
{% endblock %}