{% extends 'client/client_base.html' %}

{% block content %}

{% load static %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'client/style/member_order_style.css' %}">

<div id="content_all">

    <!-- ai -->
    <div class="h-25" id="bot">
        <div class="row" id="ai">
            <div class="ai_img"></div>
            <div class="ai_txt">
                <h2 id="ai_say">🌿어서오세요! 스타벅스입니다🌿</h2>
            </div>

        </div>

    </div>

    <div class="h-50" id="top">

        <div class="row">

            <div class="col-md-6" id="box1">
                <h4 id="menu_txt"> 최근 주문 메뉴</h4>
           

            
            <div class="row">
                <!-- 상품 1, 2-->

                <!-- 상품1 -->
                <div class="col-md-6" id="item1">
                    <div class="bg_image1">
                        <div class="image1"></div>
                        <div class="image_num_0"><h4>1</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_1_id">[ICE] 카페 아메리카노</h5>
                        <h5 class="new" id="new_1_price">4.3</h5>
                    </div>
                </div>

                <!-- 상품2 -->
                <div class="col-md-6" id="item2">
                    <div class="bg_image2">
                        <div class="image2"></div>
                        <div class="image_num_0"><h4>2</h4></div>
                    </div>
                    <div id="txt_box">
                    <h5 class="new" id="new_2_id">[HOT] 카푸치노</h5>
                    <h5 class="new" id="new_2_price">5.4</h5>
                    </div>
                </div>

            </div>
        </div>
            
            <div class="col-md-6" id="box1">
                <h4 id="menu_txt"> 최다 주문 메뉴</h4>

            
            <div class="row">
                <!-- 상품 3, 4-->

                <!-- 상품3 -->
                <div class="col-md-6" id="item3">
                    <div class="bg_image3">
                        <div class="image3"></div>
                        <div class="image_num"><h4>3</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_3_id">[ICE] 카페라떼</h5>
                        <h5 class="new" id="new_3_price">4.4</h5>
                    </div>
                </div>

                <!-- 상품4 -->
                <div class="col-md-6" id="item4">
                    <div class="bg_image4">
                        <div class="image4"></div>
                        <div class="image_num"><h4>4</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_4_id">[HOT] 코코아</h5>
                        <h5 class="new" id="new_4_price">3.5</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- 상품 5, 6-->

                <!-- 상품5 -->
                <div class="col-md-6" id="item5">
                    <div class="bg_image5">
                        <div class="image5"></div>
                        <div class="image_num_2"><h4>5</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_5_id">[BAKERY] 곡물 빵</h5>
                        <h5 class="new" id="new_5_price">4.1</h5>
                    </div>
                </div>

                <!-- 상품6 -->
                <div class="col-md-6" id="item6">
                    <div class="bg_image6">
                        <div class="image6"></div>
                        <div class="image_num_2"><h4>6</h4></div>
                    </div>
                    <div id="txt_box">
                        <h5 class="new" id="new_6_id">[ICE] 복숭아 티</h5>
                        <h5 class="new" id="new_6_price">4.8</h5>
                    </div>
                </div>

            </div>
            
        </div>

        </div>

    </div>


    <!--주문 목록-->
    <div class="h-25" id="mid">

        <!-- 제목-->
        <div class="row" id="title">
            <div class="col-md-3"> 
                <h3>주문하신 메뉴</h3>
            </div>
            <div class="col-md-4"> 
                <h3>옵션</h3>
            </div>
            <div class="col-md-2"> 
                <h3>가격</h3>
            </div>
            <div class="col-md-1"> 
                <h3>수량</h3>
            </div>
            <div class="col-md-2"> 
                <h3>총합</h3>
            </div>
        </div>

        <div id="content"></div>

            <!-- 실제 항목-->
            <!-- 주문목록-->
            <!--
            <div class="row">
                <div class="col-md-3" id="border"> 
                    <h4 id="list_txt" class="menu_1"></h4>
                </div>
                <div class="col-md-4" id="border"> 
                    <h5 id="op_txt" class="op_1"><br></h5>
                </div>
                <div class="col-md-2" id="border"> 
                    <h4 id="list_txt" class="price_1"></h4>
                </div>
                <div class="col-md-1" id="border"> 
                    <h4 id="list_txt" class="ea_1"></h4>
                </div>
                <div class="col-md-2" id="border"> 
                    <h4 id="list_txt" class="total_1"></h4>
                </div>
            </div>
            -->

            <div class="row">
                <div class="col-md-6" id="border3"> 
                    <h3 id="total_txt">주문 금액</h3>
                </div>
                <div class="col-md-6" id="border2">
                    <h3 id="total_real">0 원</h3>
                </div>
            </div>
            
        </div>
    </div>



    </div>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>


    /* 메인 */
    var menu_list = new Array();
    var op_list = new Array();
    var price_list = new Array(); //상품 1개 가격*수량 + 옵션
    var ea_list = new Array();
    var morpheme_list = new Array();
    var morpheme_str = "";
    var menu_price = 0;
    var total_price = 0;

    var txt = document.getElementById("ai_say");
    var forms = document.getElementById("content");
    var forms_txt = '';
    var total_real = document.getElementById("total_real");


    var menu_default = "\n";
    var op_default = "✔️ice ✔️시럽 X ✔️샷 2<br>✔️우유 기본 ✔️휘핑 X ✔️드리즐 X";
    var price_default = "0 원\n";
    var ea_default = "1\n";
    var total_default = "0 원\n";

    txt.innerHTML = "🌿어서오세요! 스타벅스입니다🌿";

    window.onload=function()
    {
        setTimeout(() => 
        {
            order();
        }, 1000);
    }

    /* 데이터베이스 가져오기 */
    var db_str = '{{ prods|escapejs }}';
    var db_list = db_str.slice(1, -1);
    db_list = db_list.split('),');

    //데이터베이스 - 전체(db)
    var db = new Array();
    for (var i=0; i<db_list.length; i++)
    {
        db.push(db_list[i].replace(/\'|\"|\(|\)| /g,"").split(','));
    }

    //데이터베이스 - 메뉴(db_menu)
    var db_menu = new Array();
    for (var j=0; j<db.length; j++)
    {
        db_menu.push(db[j][2]);
    }

    //데이터베이스 - 가격(db_price)
    var db_price = new Array();
    for (var k=0; k<db.length; k++)
    {
        db_price.push(db[k][3]);
    }

    /* fetch로 view에 있는 분석기로 문장 보내는 함수 */
    function stem_analyzer(resText) {
                var url = "http://localhost:8000/client/analyzer?resText=" + resText
                return fetch(url,{
                    headers: {'Content-Type': 'application/json; charset=utf-8'},
                    body: JSON.stringify(this.obj)
                }).then(response => response.json())
                .then(res => {//console.log("객체",res);
                var str = JSON.stringify(res);
                var str_slice = str.slice(1,-1).replace(/\'|\"|\\/g,'');
                str_slice = str_slice.split(',');
                morpheme_list = str_slice;
                morpheme_str = str_slice;
                //console.log('리스트:', morpheme_list);
                //console.log('문자:', morpheme_str);
                return morpheme_str;})
    }

    /* 실제 비동기 처리 코드 */
    async function order()
    {
        var audio_once = false; //한번이라도 주문했는지

        try
        {
            var audio1 = await tts("어서오세요. 스타벅스입니다!");

            txt.innerHTML = "주문을 원하시는 메뉴나 번호를 말씀해주세요💚";
            var audio2 = await tts("주문을 원하시는 메뉴나 번호를 말씀해주세요!");

            txt.innerHTML = "인식 중 ...!"; //로딩 애니메이션 들어가면 좋을 거 같음

            var audio_once = true;

            while(true)
            {
                if(audio_once) // 주문한적 X
                {
                    console.log("주문한 적 X");
                    var stt1 = await speech_to_text();

                    if (stt1.length > 1) //한 글자 이상 들어오면
                    {
                        
                        txt.innerHTML = "✅"+stt1;

                        /* 형태소 분석기 실행 */
                        var stt_morpheme = await stem_analyzer(stt1);
                        //console.log("return: ",stt_morpheme); -> 아메리카노,하나
                        console.log("전역 호출: ",morpheme_list); //-> [아메리카노,하나]
                        //console.log("전역 호출 문자: ", morpheme_str); -> 아메리카노,하나

                        /* DB 메뉴 이름, 가격 */
                        for (var x=0; x<morpheme_list.length; x++)
                        {
                            for (var y=0; y<db_menu.length; y++)
                            {
                                if (morpheme_list[x] == db_menu[y])
                                {
                                    console.log('메뉴 인식 완료 : ');
                                    menu_list.push(db_menu[y]);
                                    menu_price = db_price[y]; //가격 옵션이랑 수량 다 해서 price_list에 push 해야됨.
                                    //6 hot_cold, 7 caf_amount, 8 syrup, 9 shot, 10 milk, 11 whip, 12 java_chip, 13 driz, 14 sales_rate
                                    op_list.push([ db[y][6], db[y][7], db[y][8], db[y][9], db[y][10], db[y][11], db[y][12], db[y][13], db[y][14]]);
                                    break;
                                }
                            }
                        }

                        var audio3 = await tts(menu_list[menu_list.length-1]+"\n메뉴를 선택하셨습니다!");

                        console.log('추가된 메뉴',menu_list);
                        console.log('메뉴 가격',menu_price);
                        console.log('추가된 옵션',op_list);

                        /* DB 옵션 */
                        var hot_cold = "";
                        var caf_amount = "";
                        var syrup = "";
                        var shot = "";
                        var milk = ""; 
                        var whip = "";
                        var java_chip = "";
                        var driz = "";
                        var sales_rate = "";

                        //if () //html에 옵션
                        /* ========= 여기 해야함 ========== */
                        
                        /* 수량 계산 */
                        for (var x=0; x<morpheme_list.length; x++)
                        {
                            for (var num=1; num<10; num++)
                            if (morpheme_list[x].indexOf(String(num)) == 0) //1~9가 속하는 문자열이 있으면 0
                            {
                                console.log("수량: ",Number(morpheme_list[x]));
                                ea_list.push(Number(morpheme_list[x]));
                                //수량 인식 못했을 때 에러 처리
                                break;
                            }
                        }

                        price_list.push(menu_price*ea_list[ea_list.length-1]); //옵션도 더해야함
                        total_price += Number(price_list[price_list.length-1]);


                        /* 결제 리스트에 추가 */

                        forms_txt ='<div class="row">\
                            <div class="col-md-3" id="border"> \
                                <h4 id="list_txt" class="menu">'+menu_list[menu_list.length-1]+'</h4>\
                            </div>\
                            <div class="col-md-4" id="border">\
                                <h5 id="op_txt" class="op">✔️ice ✔️시럽 바닐라 0 ✔️샷 0<br>✔️우유 저지방 ✔️휘핑 X ✔️드리즐 X</h5>\
                            </div>\
                            <div class="col-md-2" id="border"> \
                                <h4 id="list_txt" class="price">'+menu_price+' 원</h4>\
                            </div>\
                            <div class="col-md-1" id="border"> \
                                <h4 id="list_txt" class="ea">'+ea_list[ea_list.length-1]+'</h4>\
                            </div>\
                            <div class="col-md-2" id="border"> \
                                <h4 id="list_txt">'+price_list+' 원</h4>\
                            </div>\
                            </div>';

                        forms.innerHTML = forms_txt;
                        total_real.innerHTML = total_price+' 원';

                        txt.innerHTML = '결제 또는 추가할 메뉴를 말씀해주세요❗';
                        var audio4 = await tts("결제 또는 추가할 메뉴를 말씀해주세요!");

                        audio_once = false;
                    }
                    else //한 글자도 안 들어오면
                    {
                        txt.innerHTML = "✔️ 인식하지 못했습니다. 다시 한번 말씀해주세요!";
                        var audio5 = await tts("인식하지 못했습니다. 다시 한번 말씀해주세요!");
                    }
                }
                
                else // 1메뉴 이상 주문 O
                {
                    console.log("한번 이상 주문");
                    txt.innerHTML = '📌 "결제"라고 말씀하시면 주문이 종료됩니다.';

                    var stt2 = await speech_to_text();

                    if (stt2.length > 1) //한 글자 이상 들어오면
                    {
                        if (stt2 == "결제" | stt2 == "결재" | stt2 == "첫째") //결제 원하면
                        {
                            console.log("주문 종료");
                            txt.innerHTML="✔️ 결제 안내를 도와드리겠습니다";
                            var audio5 = await tts("결제 안내를 도와드리겠습니다!");
                            await new Promise((resolve, reject) => setTimeout(resolve, 1300));
                            break;
                        }
                        else //계속 메뉴 받고 싶으면
                        {
                            txt.innerHTML = "✅"+stt2;

                            /* 형태소 분석기 실행 */
                            var stt_morpheme = await stem_analyzer(stt2);
                            console.log("전역 호출: ",morpheme_list); //-> [아메리카노,하나]

                            /* DB 메뉴 이름, 가격 */
                            for (var x=0; x<morpheme_list.length; x++)
                            {
                                for (var y=0; y<db_menu.length; y++)
                                {
                                    if (morpheme_list[x] == db_menu[y])
                                    {
                                        console.log('메뉴 인식 완료 : ');
                                        menu_list.push(db_menu[y]);
                                        menu_price = db_price[y]; //가격 옵션이랑 수량 다 해서 price_list에 push 해야됨.
                                        //6 hot_cold, 7 caf_amount, 8 syrup, 9 shot, 10 milk, 11 whip, 12 java_chip, 13 driz, 14 sales_rate
                                        op_list.push([ db[y][6], db[y][7], db[y][8], db[y][9], db[y][10], db[y][11], db[y][12], db[y][13], db[y][14]]);
                                        break;
                                    }
                                }
                            }

                            var audio3 = await tts(menu_list[menu_list.length-1]+"\n메뉴를 선택하셨습니다!");

                            console.log('추가된 메뉴',menu_list);
                            console.log('메뉴 가격',menu_price);
                            console.log('추가된 옵션',op_list);

                             /* DB 옵션 */
                            var hot_cold = "";
                            var caf_amount = "";
                            var syrup = "";
                            var shot = "";
                            var milk = ""; 
                            var whip = "";
                            var java_chip = "";
                            var driz = "";
                            var sales_rate = "";

                            //if () //html에 옵션
                            /* ========= 여기 해야함 ========== */

                            /* 수량 계산 */
                            for (var x=0; x<morpheme_list.length; x++)
                            {
                                for (var num=1; num<10; num++)
                                if (morpheme_list[x].indexOf(String(num)) == 0) //1~9가 속하는 문자열이 있으면 0
                                {
                                    console.log("수량: ",Number(morpheme_list[x]));
                                    ea_list.push(Number(morpheme_list[x]));
                                    //수량 인식 못했을 때 에러 처리
                                    break;
                                }
                            }

                            price_list.push(menu_price*ea_list[ea_list.length-1]); //옵션도 더해야함
                            total_price += Number(price_list[price_list.length-1]);
                            
    
                            /* 결제 리스트에 추가 */

                            forms_txt +='<div class="row">\
                                <div class="col-md-3" id="border"> \
                                    <h4 id="list_txt" class="menu">'+menu_list[menu_list.length-1]+'</h4>\
                                </div>\
                                <div class="col-md-4" id="border">\
                                    <h5 id="op_txt" class="op">✔️ice ✔️시럽 바닐라 0 ✔️샷 0<br>✔️우유 저지방 ✔️휘핑 X ✔️드리즐 X</h5>\
                                </div>\
                                <div class="col-md-2" id="border"> \
                                    <h4 id="list_txt" class="price">'+menu_price+' 원</h4>\
                                </div>\
                                <div class="col-md-1" id="border"> \
                                    <h4 id="list_txt" class="ea">'+ea_list[ea_list.length-1]+'</h4>\
                                </div>\
                                <div class="col-md-2" id="border"> \
                                    <h4 id="list_txt">'+price_list[price_list.length-1]+' 원</h4>\
                                </div>\
                                </div>';

                            forms.innerHTML = forms_txt;
                            total_real.innerHTML = total_price+' 원';

                            txt.innerHTML = '"결제" / "추가할 메뉴"를 말씀해주세요❗';
                            var audio4 = await tts("결제 또는 추가할 메뉴를 말씀해주세요~");
                        }
                    }
                    else //한 글자도 안 들어오면
                    {
                        txt.innerHTML="✔️ 인식하지 못했습니다. 다시 한번 말씀해주세요!";
                        var audio5 = await tts("인식하지 못했습니다. 다시 한번 말씀해주세요!");
                    }




                }
            }
            
            //location.href="/client/end"; -> 풀기!!!!!!!!!!!!!!!
        }
        catch(error)
        {
            console.log(error);
        }
            
    }

    /* STT */
    var isRecognizing = false;

    try 
    { 
        var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition || window.mozSpeechRecognition || window.msSpeechRecognition)();
    } 
    catch(e)
    {
        console.error(e);
    }

    recognition.lang = 'ko-KR';
    recognition.interimResults = false;
    recognition.maxAlternatives = 50; //클수록 발음대로 안적고 문장 적합도로.
    recognition.continuous = false; //음성인식 안끝나고 계속됨

    async function speech_to_text()
    {
        var resText = "";
        var txt = document.getElementById("ai_say");
        recognition.start();
        isRecognizing = true;

        recognition.onstart = function()
        {
            console.log("------------------------음성인식 시작------------------------");
        }   

        recognition.onresult = function(event) 
        {
            resText = event.results[0][0].transcript;
            txt.innerHTML = resText;

            if (resText == "결제" | resText == "결제.")
            {
                console.log("결제라고 말함");
                return "결제";
            }

            console.log('STT 반환:', resText);

        };

        await new Promise(resolve =>
            recognition.onend = e => {
            {
                console.log("------------------------음성인식 종료------------------------");
                resolve();
            }})
        
        recognition.stop();

        resText = resText.replace(".","");
        return resText;
    }


    /* TTS */
    var voices = [];


    function setVoiceList() {
        voices = window.speechSynthesis.getVoices();
    }
    if (window.speechSynthesis.onvoiceschanged !== undefined) 
    {
        window.speechSynthesis.onvoiceschanged = setVoiceList;
    }


    async function tts(txt) 
    {
        var end = false;

        if(!window.speechSynthesis) 
        {
            alert("음성 재생을 지원하지 않는 브라우저입니다. 크롬, 파이어폭스 등의 최신 브라우저를 이용하세요");
            return;
        }

        var lang = 'ko-KR';
        var utterThis = new SpeechSynthesisUtterance(txt);

        utterThis.text = txt;
        utterThis.lang = lang;
        utterThis.pitch = 1;
        utterThis.rate = 1; //속도

        //기존
        utterThis.onerror = function(event) 
        {
            console.log('error', event);
        };

        var voiceFound = false;

        for(var i = 0; i < voices.length ; i++) 
        {
            if(voices[i].lang.indexOf(lang) >= 0 || voices[i].lang.indexOf(lang.replace('-', '_')) >= 0) 
            {
                utterThis.voice = voices[i];
                voiceFound = true;
            }
        }
        if(!voiceFound) 
        {
            alert('voice not found');
            return;
        }

        await new Promise(function(resolve) 
        {
            utterThis.onend = resolve;
            window.speechSynthesis.speak(utterThis);
        });
    }

</script>
{% endblock %}