{% extends 'client/client_base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'client/style/client_style_5_2.css' %}">

<div class="container">

    <!-- 위 상자-->
    <div class="top_box">
        <div class="h-25">
            <h5> 주문번호 0001 </h3>
        </div>
        <div class="h-50">
            <!-- 영수증 아이콘-->
            <div class="receipt"></div>
            <h1> 고객님의 주문이<br>정상적으로 접수되었습니다! </h1>

            <!-- 가격 -->
            <div class="table">
                <h4><br> 🍓총합 &nbsp; 56,800원</h4>

                <!--

                    <div class="row" id="title">
                    <div class="col-md-3"></div>
                    <div class="col-md-3"> 
                        <h4><br>🍓총합</h4>
                    </div>
                    <div class="col-md-3"> 
                        <h4><br>56,800원</h4>
                    </div>
                </div>
        -->
            </div>
        </div>
    </div>
    
    <div class="car_contain">
        <div class="car"></div>
    </div>

    <div class="h-25">
        <h3> 픽업 장소로 이동해주세요.<br>감사합니다! </h3>
    </div>

    
</div>

{% endblock %}