{% extends 'client/client_base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'client/style/user_car_style.css' %}">
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<div class="container-fluid">
    <div class="row-vh">
        <div class="h-50" id="top">
            <h1><br><br></h1>
            <div class="item">
                <section>
                    <div class="wrapper">
                        <div class="circle"></div>
                    </div>
                </section>
            </div>

            <div class="bg_car">
                <form method="post" id="car">
                    {% csrf_token %}
                    <input id="input_car_text" name="todayUserCar" size=10 type="text" placeholder="차량 번호를 입력해주세요." />
                    <input id="input_car_btn" type="submit" onclick="send();" value="확인" />
                </form>
            </div>
        </div>


        <div class="h-50" id="box">
            <div id="order">
                <h3 id="menu"><br>🍓메뉴 주문 방법🍓<br></h3>
                <div class="row">
                    <div class="col-md-4" id="box1">
                        <div class="bg_image1">
                            <div class="image_num">
                                <h4>1</h4>
                            </div>
                            <div class="image1"></div>
                        </div>
                        <h5 id="menu">주문 통계에 따라 추천되는 <br>고객별 맞춤 메뉴를 확인합니다.</h5>
                    </div>
                    <div class="col-md-4" id="box2">
                        <div class="bg_image2">
                            <div class="image_num">
                                <h4>2</h4>
                            </div>
                            <div class="image2"></div>
                        </div>
                        <h5 id="menu">주문할 메뉴를 안내에 따라 상품<br>이름과 옵션을 말하여 주문합니다.</h5>
                    </div>
                    <div class="col-md-4" id="box2">
                        <div class="bg_image3">
                            <div class="image_num">
                                <h4>3</h4>
                            </div>
                            <div class="image3"></div>
                        </div>
                        <h5 id="menu">주문을 완료하고 픽업<br>장소에서 제품을 수령합니다.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><a href="https://www.flaticon.com/free-icons/message" title="message icons">Message icons created by Freepik -
    Flaticon</a>

<!--
{% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
-->

<script language="javascript">
    function send() {
        //alert("send"); 
        document.getElementById("car").submit();
    }

</script>
{% endblock %}