@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

html, body{
    width:100%;
    height:100%;
}

/* 인터넷 스크롤바 숨기기 */
body{
    -ms-overflow-style: none;
}
::-webkit-scrollbar { display: none; }

.bg_all
{
    text-align: center;
    height: auto;
    max-width: 100%;
    background-size: auto;
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0 auto;
}

.bg_all::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


.bg{
    background-size: cover;
    margin: 0 auto;
    
/* 사이즈 이상해지면 아래만 삭제 */
    width:56.25vw;
    height:100vh;
    max-height:177.78vh;
    max-width:100vw;
    overflow:scroll;
}