h1{
    font-family: 'Noto Sans KR', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 2.8em;
    text-shadow: 3px 3px rgba(37, 165, 37, 0.493);
    visibility: hidden;
    animation: scale2 1.5s 0.7s normal forwards;
}



@media ( max-width: 720px ) {
    h1{
        font-size:2.2em;
    }
    
}

.wrapper {
    height: 400px;
    display: flex;
}

.wrapper div{
    margin: auto;
    background: #0366346c;
    background-size:100%;
    background-image: url(../image/starbuck.png);
    border-radius: 50%;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.377);
}

.circle {
    width: 200px;
    height: 200px;
    top: 200px;
    left: 200px;
    /* 추가된 부분 */
    animation: scale1 2s alternate forwards;
}

@keyframes scale1 {
    0%   { transform: scale(0) }
    100%  { transform: scale(1) }
}

@keyframes scale2 {
    0%
    {
        transform: translateY(-20px);
        visibility: hidden;
    }
    100%  
    {  
        transform: translateY(20px);
        visibility: visible;
    }
}


/* 다시 */

.bg_car{
    color: #fff;
    margin-top: 4%;
    height: 200px;
    animation: scale2 1.5s 0.7s normal forwards;
    visibility: hidden;
}

#input_car_text {
    width: 300px;
    height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    border: 0;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-end-end-radius: 0px;
    outline: none;
    padding-left:20px;
    background-color: rgba(255, 255, 255, 0.267);
}

#input_car_btn {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    color: white;
    background-color: #00592D;
    width: 100px;
    height: 50px;
    border: 1px;
    margin-left: -4px;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    outline: none;
}


@media ( max-width: 720px ) {
    #input_car_text {
        width: 240px;
        height: 40px;
        font-size: 13px;
    }
    #input_car_btn {
        width: 60px;
        height: 40px;
        font-size: 13px;
    }
    
}


@media ( max-width: 540px ) {
    #input_car_text {
        width: 210px;
        height: 30px;
        font-size: 13px;
    }
    #input_car_btn {
        width: 50px;
        height: 30px;
        font-size: 13px;
    }
    
}


/* 사이즈 이상하면 */

body{
    background-color: #252525; 
}

/*
.bg{
    background-color: #252525; 
}

.bg_all{
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #caedc9 100%);
} */