
/* 문구 */
.h-25
{
    margin-top: 5%;
}

.h-50
{
    margin-top: -8%;
}

h1, h3, h4, h5{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

h1{
    margin-top: 5%;
    font-weight: 600;
    color: #ffa6a9;
}

h5
{
    font-weight: 500;
    color:#ffffff;
}

h3{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.87);
    margin-top: -4%;
}

h4{
  color: #79a992;
  font-size: 1.8em;
  margin-top: 20%;
}

body {
    /* background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #caedc9 100%);*/
    background-color: #232323;
    overflow: hidden;
    width:100%;
  }

/* 영수증 */

.receipt {
  height: 130px;
  width: 130px;
  display: flex;
  background-size: cover;
  background-image: url(../image/receipt.png);
  margin: 0 auto;
  margin-bottom: 7%;
  margin-top: -20%;
}

@keyframes scale1 {
  0%
  {
      transform: translateY(-20px);
      visibility: hidden;
  }
  100%  
  {  
      transform: translateY(20px);
      visibility: visible;
  }
}

/* 테두리 */

.top_box
{
  border: 3px solid #d6d5d57a;
  border-radius: 5%;
  margin-top: 4%;
  width: 60%;
  margin-top: 5%;
  display: inline-block;
}

.container{
  text-align: center;
  
  /* 추가된 부분 */
  animation: scale1 2s alternate forwards;
}


 /* 차 */

 .car_contain{
  height: 80px;
  width: 80px;
  display: flex;
  background-size: cover;
  background-image: url(../image/car.png);
  margin: 0 auto;
  margin-top: 2%;
  
  /* 추가된 부분 */
  animation: scale2 2s alternate forwards;
 }

@keyframes scale2 {
  0%
  {
      transform: translateX(-125px);
      visibility: hidden;
  }
  100%  
  {  
      transform: translateX(125px);
      visibility: visible;
  }
}