h1, h2, h3, h4, h5{
    font-family: 'Noto Sans KR', sans-serif;
    color:white;
}

body {
    /*background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #caedc9 100%);*/
    background-color: #282828;
    overflow: hidden;
    width:100%;
    height: 100%;
  }
  
#content_all
{
    background-color: #282828;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* 상단 */

#menu_txt
{
    margin-top: -7%;
    margin-bottom: -0.5%;
    text-align: left;
    margin-left: 13.5%;
    color:#faffe1;
}

#item1, #item2, #item3, #item4, #item5, #item6
{
    position: relative;
    /* border: 4px solid red; */
}

#item1
{
    margin-top: 4%;
    margin-left:15px;
    border-width: 0px 2px 0px 0px;
    border-color: #146e43;
}

#item2
{
    margin-top: 4%;
    margin-left:-15px;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    border-color: #146e43;
    padding-bottom: 11%;
}

#item3, #item5
{
    margin-left:10px;
}

#item4, #item6
{
    margin-left:-20px;
}

#item5, #item6
{
    margin-top: 1%;
}

#item3, #item4
{
    margin-top: 4%;
}

/* 사진 */

.image1{
    background-image: url(../image/new_1.png); 
    background-size:cover;
    width:128px;
    height:282px;
    display: inline-block;
}


.image2{
    margin-left: 3px;
    background-image: url(../image/new_2.png); 
    background-size:cover;
    width:128px;
    height:282px;
    display: inline-block;
}

.image3{
    background-image: url(../image/many_1.png); 
    background-size:cover;
    width:125px;
    height:125px;
    display: inline-block;
}


.image4{
    background-image: url(../image/many_2.png); 
    background-size:cover;
    width: 125px;
    height:125px;
    display: inline-block;
}


.image5{
    background-image: url(../image/many_3.png); 
    background-size:cover;
    width: 125px;
    height:125px;
    display: inline-block;
}


.image6{
    background-image: url(../image/many_4.png); 
    background-size:cover;
    width: 125px;
    height:125px;
    display: inline-block;
}


/* 숫자 */


.image_num_0
{
    position: absolute;
    top:56.8%;
    left:27.2%;
    background-color:#146e43;
    width: 45px;
    height: 45px;
}

.image_num_0 h4{
    font-weight:700;
    font-size:1.7em;
    margin-left:4px;
    padding: 4px;
    
}


.image_num
{
    position: absolute;
    top:40%;
    left:27.5%;
    background-color:#146e43;
    width: 45px;
    height: 45px;
}

.image_num h4{
    font-weight:700;
    font-size:1.7em;
    margin-left:4px;
    padding: 4px;
    
}


.image_num_2
{
    position: absolute;
    top:40.2%;
    left:27.5%;
    background-color:#146e43;
    width: 45px;
    height: 45px;
}

.image_num_2 h4{
    font-weight:700;
    font-size:1.7em;
    margin-left:4px;
    padding: 4px;
    
}

/* 메뉴명 글씨 */

#new_1_id,#new_2_id{
    margin-top: 10px;
    font-size: 1.3em;
}

#new_3_id,#new_4_id,#new_5_id,#new_6_id{
    font-size: 1.3em;
    margin-top: 10px;
}

#mid{
    margin-top: -0.5%;
    background-size: cover;
    margin-bottom:5%;
}


#bot{
    margin-top:-4.1%;
    background-color: #282828;
    background-size: cover;
    margin-left: 3%;
}






/* 중단 */

/* 메뉴명 */
#mid h3{
    text-align: center;
    margin-top: 10px;
}
#title
{
    height:25%;
    background-color: #2e835b;
}

#list_txt{
    color:rgb(82, 82, 82);
    margin-top:15px;
}

#op_txt{
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(82, 82, 82);
    font-size: 1.2em;
    text-align: left; 
}

#total_txt{
    color: white;
}

#total_real{
    color:#006635;
}

#border{
    
    background-color: white;
    border-style: solid;
    border-color: red #2e835b #2e835b blue;
    border-width: 0px 2.5px 2.5px 0px ;
}

#border2{
    
    background-color: rgb(226, 150, 150);
    border-style: solid;
    border-color: #2e835b #2e835b #2e835b #2e835b;
    border-width: 0px 2.5px 2.5px 0px ;
}

#border3{
    
    background-color: rgb(81, 104, 92);
    border-style: solid;
    border-color: #2e835b #2e835b #2e835b #2e835b;
    border-width: 0px 2.5px 2.5px 0px ;
}

/* 하단 */

.ai_txt
{
    width: 120%;
    max-width: 200%;
}

.ai_img{
    background-image: url(../image/ai_8.png); 
    background-size:cover;
    width:108px;
    height:108px;
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: -2%;
}

h2{
    font-size:2.1em;
    color:#006635;
    font-weight: 600;
    text-align: center;
    margin-top:3%;
}


.ai_txt {
    position:relative;
    margin: 65px;
    width:68%;
    height:95px;
    background:#f7fffb;
    border: 3px solid #146e43;
    border-radius: 10px;
   }
   .ai_txt:after {
    border-top:15px solid #146e43;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content:"";
    position:absolute;
    top:10px;
    left:-15px;
   }